<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <main class="blogs content">
      <h2>All Blogs</h2>
      <% blogs.forEach(function(blog) { %>
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>
      <% }); %>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
